/target/
/build/
/.gradle
/.idea/vcs.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/workspace.xml
.project
.classpath
.settings
.DS_Store
qodana.yaml
/.vscode
Tanks.jar
steam_app_id.txt
/Tests
/src/main/resources/hash.txt
libs.tar.gz
